#suggestion, #suggestionForUnderFive {
  display: none;
  width: 100%;
  height: auto;
  margin: 10px;
  border: 2px solid black;
  padding: 5px;
  background-color:lemonchiffon;
}

h2 {
 font-size: 24px;
}

.btn {
  border: thin solid black;
  background-color: blue;
  color: white;
  margin: 5px;
  font-weight: bold;
}

.surveyOne label,
.surveyTwo label,
.surveyThree label,
.surveyFour label,
.surveyFive label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
}

:checked + label {
  font-weight: bold;
}