h2 {
 font-size: 24px;
}

.btn {
  border: thin solid black;
  background-color: blue;
  color: white;
  margin: 5px;
  font-weight: bold;
}

/* Radio Selector */
.surveyOne label,
.surveyTwo label,
.surveyThree label,
.surveyFour label,
.surveyFive label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
}

/* Suggestion section */
#suggestion, #suggestionForUnderFive, #rubyInfo, #cSharpInfo, #javaScriptInfo, #rustInfo, #phythonInfo, #swiftInfo {
  display: none;
  width: 100%;
  height: auto;
  margin: 10px;
  border: 2px solid black;
  padding: 5px;
  background-color:lemonchiffon;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}